/* .login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* set the height of the container to take up the full viewport */
    /* background-color: bisque;
  } */

  /* .card{
   border-radius: 1rem;
   background-color: red;
   margin-right: 20px;
  } */

  /* .card-body{
    color: yellow;
  } */

  /* .blue-button {
    background-color: blue;
    color: white;
} */